{
  "parser": "babel-eslint",
  "extends": [
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "plugins": [
    "react"
  ],
  "env": {
    "jest": true,
    "browser": true
  },
  "globals": {
    "fetch": true,
    "jest": true,
    "expect": true,
    "it": true,
    "__DEV__": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
        ]
      }
    }
  },
  "rules": {
    operator-linebreak: ["error", "after"],
    "no-restricted-syntax": [
      "error",
      "WithStatement",
      "BinaryExpression[ operator='of']"
    ],
    "object-curly-spacing": "error",
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-underscore-dangle": "off",
    "global-require": 1,
    "object-shorthand": 0,
    "no-unused-expressions": 0,
    "one-var": [
      "error",
      {
        "var": "never"
      }
    ],
    "arrow-parens": [
      "error",
      "always"
    ],
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "arrow-body-style": 1,
    "comma-dangle": [
      "error"
    ],
    "prefer-destructuring": [
      "error",
      {
        "array": true,
        "object": true
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "curly": "error",
    "no-undefined": 2,
    "import/extensions": 1,
    "import/no-unresolved": 1,
    "no-case-declarations": 1,
    "react/no-string-refs": 1,
    "no-unused-vars": "error",
    "import/prefer-default-export": 1,
    "semi": [
      "error"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "class-methods-use-this": [
      2,
      {
        "exceptMethods": [
          "componentWillUnmount",
          "componentWillReceiveProps",
          "componentDidUpdate",
          "componentDidMount",
          "render"
        ]
      }
    ],
    "react/display-name": [
      1,
      {
        "ignoreTranspilerName": false
      }
    ],
    "react/jsx-tag-spacing": [
      "error",
      {
        "beforeSelfClosing": "always"
      }
    ],
    "react/jsx-closing-bracket-location": "off",
  }
}
